@import "../../../assets/styles/constants.scss";
@import "../../../assets/styles/mixins";

.wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.wrapper:hover .text{
  color: $color-button-main;
}

.wrapper:hover span svg path{
  stroke: $color-button-main;
}

.text {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $color-text-dark-s;

  @include media-tablet {
    display: none;
  }
}

.icon {
  display: flex;
  align-items: center;
  margin-right: 8px;

  @include media-tablet {
    display: none;
  }
}

.iconMobile {
  display: none;
  font-size: 24px;

  @include media-tablet {
    display: inline-flex;
  }
}