@import "../../../assets/styles/constants.scss";
@import "../../../assets/styles/mixins";

.profile__icon {
  background-image: url('../../../assets/images/person-icon.svg');
  width: 24px;
  height: 24px;
  margin-right: 8px;
  display: inline-block;
}

.profile__text {
  display: inline-block;

  @include media-tablet {
    display: none;
  }
}

.profile__lock {
  display: none;
  width: 24px;
  height: 24px;
  margin-right: 24px;

  @include media-tablet {
    display: inline-block;
    background-image: url('../../../assets/images/lock-icon.svg');
  }
}

.profileButton {
  display: flex;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $color-text-dark-s;
  // cursor: pointer;
}

.profileButton:hover .profile__icon {
  background-image: url('../../../assets/images/person-icon-colored.svg');
  background-repeat: no-repeat;
  transition: .3s;
}

.profileButton:hover {
  color: $color-button-main;
  transition: .3s;
  cursor: pointer;
}
