@import "../../../assets/styles/main.scss";
@import "../../../assets/styles/mixins";

.button {
  padding: 6px 26.5px;
  border-radius: 4px;
  font-family: 'Jost', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  background-color: $color-button-accented;
  white-space: nowrap;
  
  &:hover {
    background-color: $color-button-accented-hover;
  }

  @include media-tablet {
    padding: 6px 21.5px;
  }
}
