@import '../../../assets/styles/constants';
@import '../../../assets/styles/mixins';

.slider {
  margin-top: 24px;
}

.wrapper {
  width: 1170px; //TODO: fix the width for adaptive
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.main {
  width: calc(766 / 1170 * 100%);
}

.aside {
  display: flex;
  flex-direction: column;
  width: calc(330 / 1170 * 100%);
}

.arrow {
  display: block;
  height: 24px;
  width: 24px;
  &:hover{
    opacity: 0.8;
    cursor: pointer;
  }
}

.number, 
.views, 
.title,
.button {
  margin-top: 24px;
}

.date {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 20px;
  background: rgba(42, 47, 55, 0.06);
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.number {
  font-size: 18px;
  line-height: 24px;
}

.views {
  font-size: 16px;
}

.price {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.more {
  margin-top: 72px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.tel {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: $color-button-main;
  padding: 9px 0;
}