@import '../../../assets/styles/constants';
@import '../../../assets/styles/mixins';

// TODO: adaptive
.wrapper {
  width: 100%;
  @include media-992 {
    padding: 0 32px;
    max-width: 718px;
  } 

  @include media-mobile-big {
    padding: 0 16px;
    max-width: 420px;
  } 

  @include media-mobile {
    max-width: 288px;
  } 
}

.arrowBtn {
  align-self: flex-start;
  margin-bottom: 32px;

  &:hover{
    opacity: 0.8;
  }
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;

  @include media-tablet {
    flex-direction: column;
  }
}

.main {
  display: flex;
  justify-content: space-between;

  @include media-992 {
    flex-direction: column; 
    width: 100%;
  } 
}

.left {
  width: calc(766 / 1170 * 100%);
  @include media-992 {
    width: 100%;    
  } 
}

.headerRight {
  width: calc(330 / 1170 * 100%);
  @include media-tablet {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 24px;
  }
}

.aside {
  width: calc(330 / 1170 * 100%);
  @include media-992 {
    width: 100%;    
  } 
  @include media-mobile-big {
    max-width: 420px;
  } 

  @include media-mobile {
    max-width: 288px;
  } 

}

.smallCards {
  @include media-992 {
    width: 100%;
    display: flex;    
    justify-content: space-between;  
  } 

  @include media-tablet {
    flex-direction: column;
  }
}

.slider {
  margin-top: 24px;
}

.number, 
.views, 
.title,
.button {
  margin-top: 24px;
}

.date {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 20px;
  background: rgba(42, 47, 55, 0.06);
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.number {
  font-size: 18px;
  line-height: 24px;
}

.views {
  font-size: 16px;
}

.price {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 24px;
}

.more {
  margin-top: 72px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.telButton {
  display: flex;
  @include media-992 {
    display: inline;
  } 
}

.telButton a {
  @include media-992 {
    margin: 0;
    white-space: nowrap;
  } 
}

.info {
  font-size: 16px;
  line-height: 24px;
}

.infoTitle {
  display: inline-block;
  font-weight: 700;
  margin-top: 32px;
}

.description {
  margin-top: 24px;
}

.location {
  margin-left: 16px;
}

.map {
  width: 100%;
  height: 325px;
  margin-top: 24px;

  @include media-mobile-big {
  } 
}
