@import '../../../assets/styles/constants';
@import '../../../assets/styles/mixins';

.wrapper {
  max-width: 766px;
}
.slide {
  max-width: 766px;
}

.img {
  width: 766px;
  height: 328px;
  object-fit: contain;
}

//////////////////////////////////////////////////////////////////
.thumbnails {
  max-width: 766px;
  margin-top: 15px;
  height: 85px;
}

.thumbnailImg {
  width: 162px;
  height: 96px;
  object-fit: cover;
}

.thumbnail-slider-wrap .slick-track .slick-slide {
  text-align: center;
}
.thumbnail-slider-wrap .slick-track .slick-slide img {
  width: 70%;
}