@import '../../../assets/styles/constants';

.wrapper  {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 15px;
}

.info {
  // margin-right: 166px;
  width: calc(445 / 1170 * 100%) ; 
}

.title {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: $color-text-dark-l;
}

.text {
  font-size: 16px;
  line-height: 24px;
  opacity: 0.8;
  margin-top: 40px;
}

.img {
  width: calc(557 / 1170 * 100%);
}

