@import '../../../assets/styles/constants';
.wrapper  {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.info {
  max-width: 445px;
  margin-right: 166px;
}

.title {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: $color-text-dark-l;
}

.img {
  max-width: calc(557px / 1200px * 100%) ;
}

.text {
  font-size: 16px;
  line-height: 24px;
  opacity: 0.8;
}