@import "../../../assets/styles/constants";
@import "../../../assets/styles/mixins";

.wrapper {
  background: #ffffff;
}

.header {
  display: flex;
  height: 72px;
  align-items: center;
  justify-content: space-between;
  max-width: $content-width;
  margin: 0 auto;
  padding: 0 16px;
  @include media-tablet {
    padding: 0 24px;
  }
    
  @include media-mobile {
    padding: 0  16px;
    height: 56px;
  }
}

.searchWrapper {
  display: flex;
  align-items: center;
  @include media-730 {
    order: 1;
  }
}

.search {
  min-width: 556px;
  margin-left: 35px;

  @include media-laptop {
    min-width: 286px; 
    margin-left: 24px;  
  } 

  @include media-tablet {
    order: 6;
    margin-left: 24px;  
    width: initial; 
  } 

  @include media-730 {
    display: none;
  }

}

.searchMobileIcon {
  display: none;
  position: relative;

  @include media-730 {
    display: inline-flex;
  }
}

.searchMobile {
  position: absolute;
  top: 40px;
  right: 175px;
  display: flex;
  width: 50%;
}


.searchMobile > span > span {
  width: 160px;
}

.button {
  margin-left: 60px;

  @include media-tablet {
    margin-left: 0;
  }

  @include media-730 {
    display: none;
  }
}

.profileLockIcon {
  display: none;
  margin-left: 24px;
  opacity: 0.4;
  font-size: 24px;

  @include media-tablet {
    display: inline-block;
  }
}

.profileButton {
  display: flex;
  align-items: center;
  margin-right: 15px;
  margin-left: 15px;
  @include media-tablet {
    display: none;
  }
}

.burger {
  display: none;
  margin-left: 24px;
  // position: relative;

  @include media-tablet {
    display: inline-flex;
  }

  @include media-730 {
    order: -1;
    margin-left: 0;
  }
}

.MobileMenu {
  position: absolute;
  background: #fff;
  padding-top: 32px;
  padding-left: 32px;
  animation: menuSlideIn 0.2s ease-in;
  width: 100vw;
  height: 100vh;
  left: 0;
  z-index: 1000;

  @include media-tablet {
    top: 72px;
  }
  @include media-mobile-big {
    top: 48px;
  } 
}

.list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 24px;
  margin-top: 32px;
}

.listItem{
  margin-bottom: 24px;
}

@keyframes menuSlideIn {
  0% {
    left: -100vw;
  }
  100% {
    left: 0;
  }
}

.mobileButton {
  max-width: fit-content;
}