@import '../../../assets/styles/constants';
@import '../../../assets/styles/mixins';

.cardsWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  max-width: $content-width;
  padding-top: 40px;
}

.btnWrapper {
  display: flex;
  justify-content: center;
  margin: 40px auto 0;  
  max-width: 242px;
}

.btnText {
  margin-left: 12px;
}

.titleWrapper {
  padding: 0 15px;
  width: 100%;
  display: flex;
  justify-content: start;
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

// // menu
// .nav {
//   // width: 100vw;
//   // overflow: hidden;
// }

// .menu {
//   // margin: 0;
//   // padding: 0;
//   // display: flex;
//   // justify-content: start;
// }


.scrollingWrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 40px 15px;


  &::-webkit-scrollbar {
    display: none;
  }

  @include media-tablet {
    width: 100vw;  
  } 
  
  .menuItem {
    flex: 0 0 auto;
    border-radius: 35px;
    margin-right: 24px;
    color: $color-text-dark-m;
    transition: .3s;
    padding: 8px 24px;
    border: 1px solid transparent;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    &:hover {
      cursor: pointer;
      border: 1px solid $color-button-main;
      color: $color-button-main;
    }
  }
}

.menuItemActive {
  @extend .menuItem;
  background-color: $color-button-accented;
  color: $color-text-dark-l;
  pointer-events: none;
}