@import '../../../assets/styles/constants';

.cardsWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  max-width: $content-width;
  padding-top: 40px;
}

.btnWrapper {
  display: flex;
  justify-content: center;
  margin-top: 40px;  
}

.btnText {
  margin-left: 12px;
}