@import '../../../assets/styles/constants';

.menu {
  margin: 0;
  padding: 0;
}

.active {
  background: $color-button-accented;
}

.menuItem {
  display: inline-flex;
  align-items: center;
  list-style: none;
  flex-shrink: 0;
  font-size: 16px;
  border-radius: 35px;
  margin-right: 40px;
  color: $color-text-dark-m;
}

.menuItem:hover {
  cursor: pointer;
}

.menuItem:last-child {
  margin-right: 0;
}

.menuItem_accented {
  @extend .menuItem;
  background-color: $color-button-accented;
  color: $color-text-dark-l;
  padding: 8px 24px;
}

.menuItem_bordered {
  @extend .menuItem;
  border: 1px solid $color-button-main;
  color: $color-button-main;
  padding: 8px 24px;
}