@import "../../../assets/styles/constants";
@import "../../../assets/styles/mixins";

.wrapper {
  background: #ffffff;
}

.header {
  display: flex;
  height: 72px;
  align-items: center;
  justify-content: space-between;
  max-width: $content-width;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  @include media-tablet {
    margin: 0 0 0 24px;
  }
}

.searchWrapper {
  display: flex;
  align-items: center;
  @include media-730 {
    order: 1;
  }
}

.search {
  min-width: 556px;
  margin-left: 35px;

  @include media-laptop {
    min-width: 286px; 
    margin-left: 24px;  
  } 

  @include media-tablet {
    order: 6;
    margin-left: 24px;  
    width: initial; 
  } 

  @include media-730 {
    display: none;
  }

}

.searchMobile {
  display: none;
  width: 24px;
  height: 24px;

  @include media-730 {
    display: inline-flex;
  }
}

.button {
  margin-left: 60px;

  @include media-tablet {
    margin-left: 0;
  }

  @include media-730 {
    display: none;
  }
}

.button > * {
  color: $color-text-dark-l;
}

.button > *:hover {
  color: $color-text-dark-l;
}

.profileLock {
  display: none;
  width: 24px;
  height: 24px;
  margin-left: 24px;

  @include media-tablet {
    display: inline-block;
    background-image: url('../../../assets/images/lock-icon.svg');
  }
}

.profileButton {
  display: flex;
  align-items: center;
  margin-right: 15px;
  margin-left: 15px;
  @include media-tablet {
    display: none;
  }
}

.burger {
  display: none;
  margin-left: 24px;
  @include media-tablet {
    display: inline-flex;
  }

  @include media-730 {
    order: -1;
    margin-left: 0;
  }
}

