@import '../../../assets/styles/constants';

.page_wrapper {
  // width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas: 'header' 'content' 'footer';
  grid-template-rows: 72px auto 120px;
}

.content {
  padding: 40px 0; //TODO: remove for some pages because of scroll
  max-width: $content-width;
  margin: 0 auto;
}
