@import "../../../assets/styles/main.scss";
@import "../../../assets/styles/mixins";

.button {
  display: flex;
  align-items: center;
  padding: 6px 26.5px;
  border-radius: 4px;
  font-family: 'Jost', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  background-color: transparent;
  white-space: nowrap;
  color: $color-button-main;
  border: 1px solid $color-button-main;
  border-radius: 4px;
  transition: all .3s;
  
  &:hover {
    background-color: $color-button-main-hover;
    color: $color-primary-light;
    border: 1px solid $color-button-main-hover;
  }

  &:hover .icon {
    background-image: url('../../../assets/images/repeat-light.svg');
  }

  @include media-tablet {
    padding: 6px 21.5px;
  }
}

.icon {
  display: inline-flex;
  background-image: url('../../../assets/images/repeat.svg');
  width: 16px;
  height: 16px;
  margin-right: 12px;
  transition: all .3s;
}
