@import '../../../assets/styles/constants';

.wrapper {
  display: flex;
  justify-content: space-between;
  // TODO:fix for adaptive
  width: 1170px;
}

.mainWrapper {
  width: calc(867 / 1170 * 100%);
}

.nav {
  width: calc(263 / 1170 * 100%);
}

.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.main {
  padding: 37px 24px;
  width: 100%;
}

.btnWrapper {
  width: 147px
}

.backBtn {
  display: inline-flex;
  align-items: center;
}

.backBtnText {
  margin-left: 8px;
  color: $color-text-dark-l;
}