// COLORS
$color-primary-light: #ffffff;
$color-medium-light: #F2F2F2;

$color-text-dark-xl: #1D1D1D;
$color-text-dark-l: #2C2D2E;
$color-text-dark-m: #2A2F37;
$color-text-dark-s: #424242;

$color-button-main: #4877F2;
$color-button-main-hover: #3A95FF;

$color-button-accented: #FFAC28;
$color-button-accented-hover: #FFC328;


// ADAPTIVE
$content-width: 1200px;
$tablet-width: 768px;
$width-730: 730px;
$mobile-width: 320px;

:export {
  $color-button-main: #4877F2;
}