$color-text-dark-xl: #1D1D1D;
$color-text-dark-s: #424242;
$color-text-dark-xs: #F2F2F2;
$color-button-main: #4877F2;

$color-button-accented: #FFAC28;
$color-button-accented-hover: #FFC328;

$content-width: 1200px;
$color-primary-light: #ffffff;

