@import './constants.scss';
@import './mixins';
@import './normalize.scss';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Jost';
  color: $color-text-dark-l;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  background: rgba(42, 47, 55, 0.02);;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

p {
  margin: 0;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  margin: 0;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-weight: 500;
  white-space: nowrap;
  padding: 6px 26.5px;
  transition: all .3s;
  width: 100%;
  height: fit-content;

  @include media-tablet {
    padding: 6px 21.5px;
  }
}

.btn--primary {
  font-family: 'Jost', sans-serif;
  background-color: $color-button-main;
  color: $color-primary-light;
  border: 1px solid $color-button-main;

  &:hover {
    opacity: 0.8;
  }
}

.btn--outline {
  background-color: transparent;
  color: $color-button-main;
  border: 1px solid $color-button-main;

  &:hover {
    opacity: 0.8;
  }
}

.btn--accent {
  background-color: $color-button-accented;

  &:hover {
    background-color: $color-button-accented-hover;
  }
}

.tel_hidden {
  display: none;
}

.tel_visible {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: $color-button-main;
  margin-left: 10px;
}

// without it ymaps renders twice on dev because of strict mode 
// TODO: remove and try to deploy maybe?
ymaps[class$="map"]:first-child:not(:last-child) {
  display: none;
}

ymaps.ymaps-2-1-79-controls__toolbar_left > ymaps:nth-child(2) {
  display: none;
}

.slick-arrow {
  display: none;
}

//styles for edit ads page
.edit-ad-form .ant-input {
  height: 64px;
}

.ant-input {
  height: 48px;
}


.ant-form-item-control-input-content {
  display: flex;
  justify-content: space-between;
}

// .ant-upload-list {
//   display: inline-flex;
// }

// .ant-form-item-control-input-content > span {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   width: 100%;
// }
