@import './constants.scss';
@import './mixins';

// @import './normalize.scss';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Jost';
  color: $color-text-dark-l;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  background: rgba(42, 47, 55, 0.02);;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

p {
  margin: 0;
}

.btn {
  display: flex;
  align-items: center;
  border-radius: 4px;
  font-weight: 500;
  white-space: nowrap;
  padding: 6px 26.5px;
  transition: all .3s;
  width: fit-content;
  height: fit-content;

  @include media-tablet {
    padding: 6px 21.5px;
  }
}

.btn--primary {
  background-color: $color-button-main;
  color: $color-primary-light;
  border: 1px solid $color-button-main;

  &:hover {
    opacity: 0.8;
  }
}

.btn--outline {
  background-color: transparent;
  color: $color-button-main;
  border: 1px solid $color-button-main;

  &:hover {
    opacity: 0.8;
  }
}

.btn--accent {
  background-color: $color-button-accented;

  &:hover {
    background-color: $color-button-accented-hover;
  }
}


.icon--more {
  display: inline-flex;
  background-image: url('../../assets/images/repeat.svg');
  width: 16px;
  height: 16px;
  margin-right: 12px;
  transition: all .3s;
}

.tel_hidden {
  display: none;
}

.tel_visible {
  display: inline-flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: $color-button-main;
  padding: 9px 0;
  margin-left: 10px;
}

// without it ymaps renders twice on dev because of strict mode 
// TODO: remove and try to deploy maybe?
ymaps[class$="map"]:first-child:not(:last-child) {
  display: none;
}

